*{
    margin: 0;
    font-family:Arial;
    border:border-box;
}

.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height:50px;
    width:100px;
}

.logo{
    background-image: url("Amazon-Emblem.jpg");
    background-size: cover;
    height:50px;
    width:100%;
}

.border{
    border:1.5px solid transparent;
}

.border:hover{
    border:1.5px solid white;
}

/** box2**/
.add-first{
    color:#cccccc;
    font-size:0.85rem;/**for making site responsive as width is getting smaller font size also get small so we used rem**/
    margin-left: 20px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 8px;
}

.add-icon{
    display:flex;
    align-items: center;
    margin-left: 8px;
}

/**Box 3**/
.nav-search{
    display:flex;
    justify-content:space-evenly ;
    background-color: aqua;
    width:620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
}

.search-icon{
    width:45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
}

.nav-search:hover{
    border:2px solid orange;
}

/**box 3**/
.nav-lang{
    display:flex;
    justify-content:space-evenly ;
}

.nav-lang span{
    font-weight: 700;
    font-size: 1rem;
}




/**box 4**/
span{
    font-size: 0.7rem;
}

.nav-sec{
    font-size:0.85rem;
    font-weight:700 ;
}

/**Box 5**/
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size:0.85rem;
    font-weight: 700;
}

/**PANEL**/
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color:white;
    align-items: center;
    justify-content:space-evenly ;
}

.panel-ops p{
    display:inline;
    margin-left:15px ;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/**HERO-SECTION**/
.hero-section{
    background-image: url("bg1.jpg");
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color:#007185; 
}

/**SHOP SECTION**/
.shop-section{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    background-color: #b80379 ;
}

/* For all the 4 boxes in one line */
.box{
    height:400px;
    width:23%;
    background-color: white;
    padding: 15px 10px 10px 10px;
    display:flex;
    flex-wrap: wrap;
}

/* For all the headings in the boxes */
h2{
    color:black;
    font-size: 21px;
}

/* For Headings in Box 1,2,3 and 4 */
.heading1{
    height: 27.3px;
    width:270.89px;
}
.heading2{
    height:40px;
    width:270.89px;
}

/* For the content area of Box1 */
.box1_content_area{
    height: 85%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    justify-self: center;
    align-self: center;
}


/* For the content area of Box2 as its heading is long*/
.long_heading_box1_content_area{
    height: 82%;
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    justify-self: center;
    align-self: center;
}

/* For both the rows in box1 */
.box1_row{
    height:120px;
    width:100%;
    display:flex;
    flex-direction: row;
    margin-left:0;
    margin-right:0;
    align-self: flex-start;
}


/* For all the Image Divs in Box 1 */
.box1_images{
    height:100%;
    width:95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.box1_images:hover{
    border:2px solid black;
}

/* For image and name Div */
.image_and_name{
    display:flex;
    flex-wrap:wrap;
    height:100%;
    width:50%;
    font-size: 12px;
}

.image_and_name span{
    font-weight: 500;
    color:solid black;
    font-size: 18px;
}
/* For See more in Box1 */
#single_line{
    font-size: 13px;
    color:#007185;
    padding-bottom: 10px;
    justify-self: flex-start;
    text-align: left;
}



/* Styling For Shopping Section Divider */

/* For Entire Shopping Section Divider Div */
.divider{
    padding-top: 20px;
    display:flex;
    justify-content: space-evenly;
    width:100%;
    height:250px;
    background-color: #b80379 ;
}

/* For Entire Shopping Section Divider Div White Box*/
.divider_box{
    background-color:white;
    height: 300px;
    width: 97%;
    padding: 10px 20px 10px 20px;
}

/* For Divider Heading Div */
.divider_heading{
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 5px;
}
.divider_heading span{
   font-size: large;
   font-weight: 750;
}

/* For Divider Content Area */
.divider_content_area{
    height:150px;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}

.divider_content_area img:hover{
    border:2px solid black;
}
/**SHOPPING SECTION 2**/
.shop_sec_2{
    display:flex;
    flex-direction:row ;
    justify-content: space-evenly;
    background-color: #b80379 ;
    padding-bottom: 20px;
    padding-top: 85px;
}

.ls-image{
    width:50%;
    height:50%;
}

.ls-image img{
    justify-content: center;
    height:85%;
    width:80%;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 80px;
}
.text_below_ls p{
    width:100%;
    height:2.6em;
    font-size: 15px;
    color:#0f1111;
}

.ls_price{
    display:flex;
    font-size: 21px;
    width:100%;
}

#ls_rate sup{
    font-size: 12px;
}

#ls_list{
    font-size: 13px;
    color: #565959;
    align-self: flex-end;
    margin-left: 5px;
}

.ls_options{
    height: 30%;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.options{
    height:90%;
    width:22%;
    background-color:white;
    border:1px solid black;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.op1{
    border:4px solid black;
}

/* Options Divs on hovering */
.options:hover{
    border:1px solid rgb(39, 39, 136);
}

/* For all the book options images */
.options img{
    height:80%;
    width:80%;
    border-radius: 10px;
}

/**FOR BOX6**/
.box1_images img{
    height:100%;
    width:95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

/**FOR BROWSING HISTORY**/

.bh_outer_div{
    width:100%;
    height:380px;
    display:flex;
    justify-content: center;
    padding-top: 20px;
}



.bh{
    width:90%;
    height:500px;
}

.bh_heading{
    display:flex;
    height:44px;
    width:100%;
    justify-content: space-between;
}

#bh_heading{
    font-size: 18px;
    font-weight: 700;
    display:flex;
}

#bh_pageno{
    font-size:14px;
    justify-content: flex-end;
    text-align: right;
}

.bh_content_area{
    display:flex;
    justify-content: space-evenly;
}

.bh_image img{
    height:165px;
    width:165px;
    background-size: contain;
    background-repeat: no-repeat;
}

.bh_image:hover{
    border:1.5px solid black;
}

.bh_image_label{
    font-size: 13px;
    color: #007185;
    margin-top: 4px;
}

.bh_image_label p:hover{
    text-decoration:underline;
        cursor: pointer;
}
/* For Star Rating Div */
.bh_star_rating{
    font-size: 12px;
    color:#007185;
    display:flex;
}

.bh_star_rating p{
    margin-left: 5px;
    font-size: 11px;
}

/* For Whole Best Seller Line */
.best_seller_line_div{
    display:flex;
    align-items: center;
    height: 20px;
}

/* For Best Seller Div */
.bh_best_seller_div{
    width: 88px;
    height: 16px;
    font-size: 12px;
    background-color: #C45500;
    border-radius: 3px;
    color: #ffffff;
    font-size: 700;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* For Best Seller Sideline Div */
.best_seller_sideline{
    font-size: 12px;
    padding-left: 2px;
    color: #007185;
}

/* For Best Seller Sideline Continuation Div */
.best_seller_sideline_continuation{
    font-size: 12px;
    color: #007185;
}

/* For Green line in Pants Section */
.bh_green_line{
    color: green;
    font-size: 12px;
}

.bh_price_div{
    font-size: 17px;
    padding-top: 5px;
}

.bh_price_div sup{
    font-size: 11px;
}

.bh_shipping_price_div{
    font-size: 12px;
}

.bh_price_div span{
    font-size: large;
    color:rgb(228, 52, 52);
}

.bh_price_div p{
    justify-content: space-evenly;
}

.bh_time_deals{
    background-color: #CC0C39;
    color:#ffffff;
    font-size: small;
    width:70%;
    padding-top: 3px;
}

.bh_extra{
    font-size:x-small;
    color:rgb(35, 31, 31);
    padding-top: 2.5px;
}

.bh_deals_below{
    padding-top: 3.5px;
    font-size: small;
}

.bh_getit{
    padding-top: 3px;
    font-size: small;
}

.bh_coupon{
    font-size: small;
}

.bh_coupon span{
    background-color: green;
    color:solid black;
    font-size: medium;
}

.bh_bb{
    font-size: x-small;
    padding-top: 4px;
}


/**FOR SIGN IN**/

.signin_div{
    height:150px;
    width:100%;
}

.sign_in{
    height: 125px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    border-bottom: 1px solid rgb(181, 181, 181);
    border-top:1px solid rgb(181, 181, 181)  ;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.si_heading{
    font-size: 24px;
    font-weight: 700;
    height: 32px;
}

.sign_button{
    height:28px;
    width:230px;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 2px;
    border-radius: 1px solid rgb(255, 170, 0);
    text-shadow: 0 1px 0 #ffe093;
}
.sign_bottom{
    font-size: 11px;
    height: 15px;
    padding-top:4px;
}

.sign_bottom a{
    color:#007185;
}

/**FOOTER SECTION**/

.back_to_top{
    height:49px;
    background-color: #31455b;
    color:white;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    height:400px;
    background-color: #232f3E;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.links_heading{
    color: white;
    font-size: 16px;
    height:16.8px;
    margin-top:6px;
    margin-bottom: 14px;
    font-weight: 700;
}

.link1_links{
    color:#DDDDDD;
    list-style-type: none;
    font-size: 14px;
}

.link1_links li{
    margin-bottom: 10px;
}

.link1_links li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sl_div_ob{
    background-color: #131A22;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.sl_1{
    height: 110px;
    width:80%;
    background-color: #131A22;
    display:flex;
    justify-content:space-evenly;
    padding-top: 10px;
    font-size: 12px;
}

.sl_heading{
    color: #DDDDDD;
    font-size: 12px;
    height:16.8px;
    margin-top:6px;
}

.small_links{
    color: #999999;
    list-style-type: none;
    font-size: 12px;
}

.small_links li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sl_heading p:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* Styling for the bottom most div */

/* For the entire bottom most div */
.bottom_most_div{
    height:60px;
    width:100%;
    background-color: #131A22;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* For Conditions and Privacy Div */
.conditions_privacy_div{
    height:13px;
    width:60%;
    list-style-type: none;
    background-color: #131A22;
    font-size: 12px;
    color:#DDDDDD;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

/* For yes or no image */
.conditions_privacy_div img{
    height:14px;
    width:29px;
    align-self:flex-end;
    margin-top: 2px;;
}

/* For Your Ads Privacy Choices and icon div */
.choice{
    height:13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* For Copyright Div */
.copyright_div{
    height:13px;
    width:40%;
    padding-top: 6px;
    padding-bottom: 30px;
    background-color: #131A22;
    font-size: 12px;
    color:#DDDDDD;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.copyright_div i{
    font-size: 9px;
}

/* For all the lists tag*/
li{
    text-decoration: none;
}

/* For all the borders of boxes in Navbar (with hover) */
li:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #999999;
}

/* For all the small links headings*/
.small_links_heading p{
    text-decoration: none;
}

/* For all the borders of boxes in Navbar (with hover) */
.small_links_heading p:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: #999999;
}

.conditions_privacy_div li:hover{
    cursor: pointer;
}

.copyright_div span:hover{
    cursor: pointer;
}